.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-links {
    display: flex;
    gap: 10px;
}

ul {
    list-style: none;
}

.logo a {
    text-decoration: none;
    color: #F9FAF8;
    size: 24px;
}

.right-links a {
    text-decoration: none;
    color: #E5E7EB;
    size: 18px;
}



