body {
    margin: 0;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

ul {
    list-style: none;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-links {
    display: flex;
    gap: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.right-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 40px;
}

.left {
    display: flex;
    flex-flow: column wrap;
}

.right {
    display: flex;
    background-color: grey;
    color: #E5E7EB;
    padding: 60px 170px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 6px;
}

.hero-sub {
    color: #E5E7EB;
    margin: 8px 0;
}

.left button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 17px;
    border-radius: 8px;
    width: 110px;
    height: 35px;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px, 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 200px;
    margin-bottom: 100px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.images {
    color: #d3d3d3;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 200px;
    gap: 0.5em;
}

.square {
    height: 170px;
    width: 170px;
    border-width: 4px;
    border-style: solid;
    border-radius: 14px;
    border-color: #3882f6;
    margin-top: 15px;
}

.main-body {
    display: block;
    margin: 0px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
}

em {
    font-size: 36px;
    color: #1F2937;
}

.author {
    text-align: right;
    font-size: 22px;
    font-weight: 700;
}

.action {
    padding: 100px 200px;
}

.action-container {
    display: flex;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 50px 100px;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    border-radius: 12px;
}

strong {
    font-size: 26px;
    font-weight: 500;
}

.action-body {
    display: block;
    margin: 0px;
}

.call-right button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 17px;
    border-radius: 8px;
    width: 110px;
    height: 35px;
    border-style: solid;
    border-color: white;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}